<p>Вы были успешно зарегистрированы </p>
<p>в сервисе “Будь лучше”</p>
<p><a href="$link">.Добро пожаловать!</a></p>
<p>Используйте логин и пароль для авторизации: </p>
<p>login - $new_user_login, password - $new_user_password.</p>
<p>После успешной авторизации следует изменить пароль.</p>