<p>Для восстановления пароля в сервисе “Будь лучше” используйте секретный код: <a href="$link"></a></p>
<p>Если запрос на восстановление пароля был сделан не вами, пожалуйста, проигнорируйте это письмо.</p>
